*{ box-sizing: border-box;}

body{
    margin: 0;
    min-width: 100vw;
    height: 100vh;
    position:fixed;
    overflow-x: hidden;
}
#homepage{
    height: 100vh;
    width: 100vw;
    display:flex;
    align-items: center;
    flex-wrap: nowrap;
}
#home-left{
    height: 100vh;
    width: 50%;
    background-color:transparent;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    
}
#home-right{
    background-color: transparent;
    width: 50%;
    height: 100vh;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;;
    flex-wrap: wrap;
    text-align: center;
    

}
#home-right #right-cross{
    /* content:''; */
    width:100%;
    height: 100%;
    position:absolute;
    background-color:rgb(15, 15, 55);
    transform:  translateX(0) skewX(50deg);
    right:0;
    transform-origin: right top;
    z-index: -1;

   
}
#navbar{ 
    position:fixed;
    right: 10%;
    top: 15%;
    text-align: right;
    z-index: 100;
}

#navbar ul{
    display: flex;
    color: white;
    list-style-type: none;
    justify-content:flex-end;
    font-size: 30px;
  
}
#navbar ul.collapsed{
    width:auto;
    
   
}
#navbar ul.collapsed li a{
    width:0;
    opacity: 0;
   
}
#navbar ul li{
    cursor: pointer;
}
#navbar ul li menu-btn{
    position: relative;

}
#navbar ul li button{
    background-color: transparent;
    border: none;
    position:absolute;
}

#navbar ul li a{
    width: auto;
    padding: 5px;
    transition: all  .5s ease-in-out;
    /* font-weight: bold; */
}
#navbar ul li a:focus,#navbar ul li a:hover{
    text-decoration: none;
}

#navbar i:hover{
   color: rgb(17, 99, 72);
}


#home-left #image{
    background-image: url("image/img 1.jpg");
    background-size: cover;
    background-position: center center;
    height:250px;
    width:250px;
    border-radius: 50%;
    border: 5px solid rgb(20, 20, 61);
}

#home-left #info{
     font-weight: bold;
     font-size:18px;
     background-color: antiquewhite;
     padding:5px;
}
#home-right span{
    color: brown;
    text-transform: uppercase;
    margin: 5px;
}
.hidden{display:none}







/* workPage */


 #workpage{ 
     width:50vw;
     height: 100vh;
     display:flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     background-color: darksalmon;
     transform: translateX(-130%);
     transition: transform .5s ease-in-out;
     position: relative;
 }
 #workpage.active{
     transform: translateX(0);
     transition: transform .5s ease-in-out;
 }
 #work-cross{
    background-color: darksalmon;
    position:absolute;
    left: -30%;
     width:80vw;
     height:100%;
     transform: skewX(0deg);
     z-index:-1;
     transition:transform .5s ease-in-out;

 }
 #workpage.active #work-cross{
    transform: skewX(-20deg);
    /* transition:transform .5s ease-in-out; */


 }
 #work-container{
     height:50%;
     width:100%;
     display: flex;
     justify-content:center;
     align-items: flex-start;
     flex-direction: row;
 }
 #workpage h1{
     margin-bottom: 50px;
 }
.workBox{
    margin: 20px;
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 20px;
    box-shadow:2px 2px rgb(173, 160, 160);
    position:relative; 
    border:5px solid rgb(21, 21, 78);
    transition:transform .5s ease-in-out;
    cursor:pointer;
}
.workBox:hover{
    transform: scale(1.1)
}
.workImage{
    
    width: 100%;
    height:100%;
    background-size: cover;
    background-position: center center;
    border-radius: 20px;
}
.workName{
    position:absolute;
    bottom:0;
    width:100%;
    background-color:white;
    border-radius: 20px;
    text-align: center;
    background-color:rgb(247, 228, 228);
}
#basketball{
    border: 5px solid rgb(80, 3, 3);
}

/* skillPage */
#skillPage{ 
    width:60vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: brown;
    transform: translateX(200%);
    
    transition: transform .5s ease-in-out;
    position: relative;
}
#skillPage.active{
    transform: translateX(70%);
    transition: transform .5s ease-in-out;
}
#skillCross{
   background-color: brown;
   position:absolute;
    right: -50%;
    width:110vw;
    height:100%;
    transform: skewX(20deg);
    z-index:-1;
    transition:transform .5s ease-in-out;

}
#skillPage>h1{
    color:black;
    text-transform: uppercase;
    font-size:25px;
    margin-top: 100px;
}
#skillPage >p{
    width:80%;
    font-size:18px;
    color: rgb(0, 0, 0)
}

#skills-container{
    align-self: flex-start;
    width:100%;
    display:flex;
    justify-content:center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 50px;
    margin-left: -10%;
}
#skills-container >h1{
    width:100%;
    text-align: center;
    text-transform: uppercase;
    font-size:30px;
    color:black;
    white-space:nowrap;
}

#skills-container  ul{ 
    width:100%;
    list-style-type: none;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-wrap: wrap;
    white-space:nowrap
} 
#skills-container  ul li{
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    width:300px; 
    height:50px;
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;
}

#skills-container  ul li h1{
    font-size:30px;
    margin: 0;
}
#skills-container  ul li:hover{
    border: 2px solid blue;

}









@media screen and (max-width:299px){
    #home-right #right-cross{
        transform: skewX(15deg)
    }
    #home-left #image{
        width:100px;
        height: 100px;
        margin-top:50px;
    }
    #home-left #info{
        font-size:12px;
    }
    #home-right{
        font-size:20px;
        height:50px;
     
    }
    #navbar ul li{
        font-size:15px;
    }
    #workpage{
        width:80vw;
    }
    #workpage h1{
        font-size:20px
    }
    .workBox{
        height: 150px;
        width: 150px;
    }
    #workpage  #work-cross{
        width: 100vw;
    }
    /* #skillPage{
        width:40vw;
    } */
    #skillPage.active{
        transform: translateX(50%);}
    #skillPage>h1{
        margin-top: 180px;
        font-size:20px;
    }
    #skillPage >p{
        font-size: 12px;
        
    }
    #skills-container h1{
        font-size:20px;
        margin: 0;
    }
    #skills-container{
        width:60%;
    }
    #skills-container ul{
        justify-content:flex-start;
        width:auto;
        margin: 0;
        padding: 0px;
    }
    #skills-container ul li{
        width:150px;
        height:25px;
        
    }
    #skills-container ul li h1{
        font-size:15px
    }

}


@media (min-width: 300px) and (max-width:575px){
    #navbar ul li{
        font-size:20px;
    }
   
    #home-right #right-cross{
        transform: skewX(20deg)
    }
    #home-left #image{
        width:150px;
        height: 150px;
        margin-left: 20px;
        
    }
    
    #home-right{
        font-size:25px; 
    }
    #workpage{
        width:70vw;
    }
    #workpage h1{
        font-size:20px
    }
    #workpage  #work-cross{
        width: 100vw;
    }
    #skillPage.active{
        transform: translateX(50%);}
    #skillPage>h1{
        margin-top: 150px;
        font-size:25px;
    }
    #skillPage >p{
        font-size: 15px;
        
    }
    #skills-container h1{
        font-size:20px;
        margin: 0;
    }
    #skills-container ul{
        /* justify-content:flex-start; */
        width:auto;
        margin: 0;
        padding: 0px;
        margin-bottom: 30px;
    }
    #skills-container ul li{
        width:180px;
        height:30px;
        
    }
    #skills-container ul li h1{
        font-size:20px
    }
}
@media (min-width:576px) and (max-width:767px){
    #home-right #right-cross{
        transform: skewX(30deg)
    }
    #workpage{
        width:60vw;
    }
    #workpage h1{
        font-size:20px
    }
    #workpage  #work-cross{
        width: 110vw;
    }
    #skillPage>h1{
        margin-top: 100px;
        font-size:25px;
    }
    #skillPage >p{
        font-size: 16px;
        
    }
    #skills-container h1{
        font-size:25px;
    }
    #skills-container ul li{
        width:250px;
        height:40px;
        ;
    }
    #skills-container ul li h1{
        font-size:20px
    }
}
@media (min-width: 768px) and (max-width:991px){
    #home-right #right-cross{
        transform: skewX(40deg)
    }
    #workpage{
        width:50vw;
    }
    #workpage h1{
        font-size:20px
    }
    #skillPage>h1{
        margin-top: 50px;
        font-size:25px;
    }
    #skillPage >p{
        font-size: 16px;
        
    }
    #skillPage>h1{
        margin-top: 100px;
        font-size:25px;
    }
    #skillPage >p{
        font-size: 16px;
        
    }
    #skills-container{
        width:60%;
    }
    #skills-container h1{
        font-size:25px;
    }
    #skills-container ul li{
        width:250px;
        height:40px;
        ;
    }
    #skills-container ul li h1{
        font-size:20px
    }
    /* #skills-container h1{ 
       text-align: start;
      font-size: 20px;
} */

}
